<?xml version="1.0" encoding="utf-8"?>
<RunSettings>
  <MSTest>
    <STAThread>true</STAThread>
  </MSTest>
  <DataCollectionRunSettings>
    <DataCollectors>
      <DataCollector friendlyName="Code Coverage">
        <Configuration>
          <Format>Cobertura</Format>
          <CodeCoverage>
            <ModulePaths>
              <Include>
                <ModulePath>.*[\\/](VirtualPaper[^\\/]*|StaticImg|WebBackdrop|Workloads\.[^\\/]*)\.dll$</ModulePath>
              </Include>
              <Exclude>
                <ModulePath>.*\.Test\.dll$</ModulePath>
                <ModulePath>.*VirtualPaper\.SmokeTest\.dll$</ModulePath>
              </Exclude>
            </ModulePaths>
            <Attributes>
              <Exclude>
                <Attribute>^System\.CodeDom\.Compiler\.GeneratedCodeAttribute$</Attribute>
                <Attribute>^System\.Diagnostics\.CodeAnalysis\.ExcludeFromCodeCoverageAttribute$</Attribute>
              </Exclude>
            </Attributes>
            <Functions>
              <Exclude>
                <Function>^.*\.XamlTypeInfo\..*$</Function>
                <Function>^.*\.GeneratedBindableCustomProperty\..*$</Function>
              </Exclude>
            </Functions>
            <Sources>
              <Exclude>
                <Source>.*[\\/]obj[\\/].*</Source>
                <Source>.*\.g\.cs$</Source>
                <Source>.*\.g\.i\.cs$</Source>
              </Exclude>
            </Sources>
          </CodeCoverage>
        </Configuration>
      </DataCollector>
    </DataCollectors>
  </DataCollectionRunSettings>
</RunSettings>
